.background-color {
  background-color: black;
  padding-bottom: 350px;
  padding-left:10px;
  padding-right:10px;
}

h1{
  color:darkorchid;
  font-family:Helvetica;
}

h4{
  font-style: italic;
  background-color: darkred;
  color: white;
  width: 6%;
}

h5{
  font-style: oblique;
  color:crimson;
  width: 16%;
}

.Q1{
  background-color: wheat;
}

.Q2{
  background-color: white;
}

.Q3{
  background-color: wheat;
}

.Q4{
  background-color: white;
}

.Q5{
  background-color: wheat;
}

#answer{
  color:red;
}