body {
  background-color:black;
  padding-left:50px;
}

#header {
  color: red;
}

#question1 {
  color:rgb(185, 2, 185);
}

#question2 {
  color:rgb(57, 11, 208);
}

#question3 {
  color:rgb(15, 212, 58);
}

#question4 {
  color:rgb(245, 106, 13);
}

#question5 {
  color:rgb(15, 220, 243);
}

h4 {
  font-style:italic;
  font-size:large;
}

#answer {
  color: yellow;
  font-style: bold;
  font-family: Impact;
  text-align: center;
}


/* OLD CODE NOT NEEDED!

/* .background-color {
  background-color: black;
  padding-bottom: 350px;
  padding-left:10px;
  padding-right:10px;
}

h1{
  color:darkorchid;
  font-family:Helvetica;
}

h4{
  font-style: italic;
  background-color: darkred;
  color: white;
  width: 6%;
}

h5{
  font-style: oblique;
  color:crimson;
  width: 16%;
}

.Q1{
  background-color: wheat;
}

.Q2{
  background-color: white;
}

.Q3{
  background-color: wheat;
}

.Q4{
  background-color: white;
}

.Q5{
  background-color: wheat;
}

#answer{
  color:red;
} */